:root{
  --commonBg: #333333;
  --commonBgHeaderHover: #acacac;
  --commonBgHeaderColor: #a7a7a7;
  --commonBgHeaderActive: #d6d6d6;
  --commonBodyBg:#f2f2f2;
  --commonOtherBg:rgba(51, 51, 51, 0.55);
  --commonColor: #6d6d6d;
  --commonColorHover: #555555;
  --commonColorUnActive: #bfbfbf;
  /*
  --commonBg: rgb(33, 150, 243);
  --commonBgHeaderHover: #1e88e5;
  --commonBgHeaderColor: white;
  --commonOtherBg:#2196f3;
  */
}

.pointer {
  cursor: pointer;
}

.color-red {
  color: red;
}

.color-green {
  color: green;
}

body {
  background: #ededed;
  -webkit-user-select: none;
  font-size: 14px;
}

.text-right {
  text-align: right;
}

.flex-start {
  justify-content: flex-start;
}

.flex-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.no-margin {
  margin: 0;
}

.full {
  width: 100%;
  height: 100%;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}
.t-center {
  text-align: center;
}

.flex-center {
  justify-content: center;
}

.flex-around {
  justify-content: space-around;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.normal-line {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
}

.normal-margin-left {
  margin-left: 5px;
}

.flex-grow {
  flex-grow: 1;
}

.submit-btn {
  width: 80%;
  height: 40px;
  border-radius: 20px;
  background: var(--commonColor);
  color: white;
  font-size: 16px;
  border: 0;
  outline: none;
}

.submit-btn:hover {
  background: var(--commonColorHover);
}

.submit-btn-unactive {
  background: var(--commonColorUnActive);
  width: 80%;
  height: 40px;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  border: 0;
  outline: none;
}
